@import './base.css';

body, html {
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-box {
  padding: 20px 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  text-align: center;
  width: 85%;
}
h2 {
  color: #4172e7;
}

ul{
  width: 50%;
  float: left;
  margin: 2rem;
}
ul, ol {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 2rem;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}

li:last-child {
  border-bottom: none;
}